1) Importo los datos de las tablas de excel y los concateno en un único DataFrame

In [2]:
import pathlib
XSLX=str(pathlib.Path().resolve())+"/alcaldes"
import pandas as pd
from os import listdir
from os.path import isfile, join
ficherosXSLX = [f for f in listdir(XSLX) if isfile(join(XSLX, f))]

print(ficherosXSLX)



directorio = "C:/Users/daniel.martinezcarre/Desktop/Repositorios/sbd_repositorio/SBD/alcaldes/"

def cargaAlcaldes(archivo, columna, fila, cabecera, nombreHoja):
    return pd.read_excel(archivo, sheet_name=nombreHoja,
       names=cabecera, usecols=columna, skiprows=fila)

archivos = [
    [directorio + 'Alcaldes_1979_1983.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 1979-1983'],
    [directorio + 'Alcaldes_1983_1987.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 1983-1987'],
    [directorio + 'Alcaldes_1987_1991.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 1987-1991'],
    [directorio + 'Alcaldes_1991_1995.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 1991-1995'],
    [directorio + 'Alcaldes_1995_1999.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 1995-1999'],
    [directorio + 'Alcaldes_1999_2003.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 1999-2003'],
    [directorio + 'Alcaldes_2003_2007.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 2003-2007'],
    [directorio + 'Alcaldes_2007_2011.xlsx', 'D:J', 8, 
        ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 2007-2011'],
    [directorio + 'Alcaldes_2011_2015.xlsx', 'D:J', 1, 
         ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 2011-2015'],
    [directorio + 'Alcaldes_2015_2019.xlsx', 'D:J', 1, 
         ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 2015-2019'],
    [directorio + 'Alcaldes_2019_2023.xlsx', 'D:J', 1, 
         ['CCAA', 'PROVINCIA', 'MUNICIPIO', 'CODIGO', 'NOMBRE', 'LISTA', 'FECHA POSESION'], 'Alcaldes 2015-2019'],
]

# Inicialización do dataframe vacío
dfAlcaldes = pd.DataFrame([])


for i in range(0, len(archivos)):
    dfAlcaldes = pd.concat([dfAlcaldes,
        cargaAlcaldes(archivos[i][0], archivos[i][1], 
            archivos[i][2], archivos[i][3], archivos[i][4])]
   )

dfAlcaldes.head()

['Alcaldes_1979_1983.xlsx', 'Alcaldes_1983_1987.xlsx', 'Alcaldes_1987_1991.xlsx', 'Alcaldes_1991_1995.xlsx', 'Alcaldes_1995_1999.xlsx', 'Alcaldes_1999_2003.xlsx', 'Alcaldes_2003_2007.xlsx', 'Alcaldes_2007_2011.xlsx', 'Alcaldes_2011_2015.xlsx', 'Alcaldes_2015_2019.xlsx', 'Alcaldes_2019_2023.xlsx']

,CCAA,PROVINCIA,MUNICIPIO,CODIGO,NOMBRE,LISTA,FECHA POSESION
0,Andalucía,Almería,ABRUCENA,040025,"MARTINEZ LAO, JUAN",PSOE,1979-04-19 00:00:00
1,Andalucía,Almería,ADRA,040031,"SARMIENTO POSADA, PEDRO",OTROS,1979-04-19 00:00:00
2,Andalucía,Almería,ALBANCHEZ,040046,"MARTOS AYBAR, RAMON",UCD,1979-04-19 00:00:00
3,Andalucía,Almería,ALBOLODUY,040059,"BLANES PANIAGUA, MARIANO",UCD,1979-04-19 00:00:00
4,Andalucía,Almería,ALBOX,040062,"MIRAS CARRASCO, JOSE",UCD,1979-04-19 00:00:00

In [3]:
dfAlcaldes.tail()

,CCAA,PROVINCIA,MUNICIPIO,CODIGO,NOMBRE,LISTA,FECHA POSESION
8765,"Rioja, La","Rioja, La",Viniegra de Abajo,261780,Juan Ignacio Martínez Fernández,PP,15/06/2019
8766,"Rioja, La","Rioja, La",Viniegra de Arriba,261793,Laura Crespi Lázaro,PP,15/06/2019
8767,"Rioja, La","Rioja, La",Zarratón,261807,Víctor Manuel Manso Ocio,PSOE,15/06/2019
8768,"Rioja, La","Rioja, La",Zarzosa,261814,José María Sáenz Blanco,PP,15/06/2019
8769,"Rioja, La","Rioja, La",Zorraquín,261835,José Ángel Capellán Marín,PP,15/06/2019

In [4]:
import re
import string
import unicodedata

dfAlcaldes['NOM_NORMALIZADO']=(dfAlcaldes['NOMBRE']
                                  .str.normalize('NFKD')    # Se elimina diacrítico y otros caracteres especiales
                                  .str.encode('ascii', errors='ignore') # Para codificar os nombres a formato ASCII
                                  .str.decode('utf-8')  # Para decodificarlo a UTF-8 los caracteres ASCII
                                  .str.upper()) # Escribo todo en mayúsculas

dfAlcaldes.head()

,CCAA,PROVINCIA,MUNICIPIO,CODIGO,NOMBRE,LISTA,FECHA POSESION,NOM_NORMALIZADO
0,Andalucía,Almería,ABRUCENA,040025,"MARTINEZ LAO, JUAN",PSOE,1979-04-19 00:00:00,"MARTINEZ LAO, JUAN"
1,Andalucía,Almería,ADRA,040031,"SARMIENTO POSADA, PEDRO",OTROS,1979-04-19 00:00:00,"SARMIENTO POSADA, PEDRO"
2,Andalucía,Almería,ALBANCHEZ,040046,"MARTOS AYBAR, RAMON",UCD,1979-04-19 00:00:00,"MARTOS AYBAR, RAMON"
3,Andalucía,Almería,ALBOLODUY,040059,"BLANES PANIAGUA, MARIANO",UCD,1979-04-19 00:00:00,"BLANES PANIAGUA, MARIANO"
4,Andalucía,Almería,ALBOX,040062,"MIRAS CARRASCO, JOSE",UCD,1979-04-19 00:00:00,"MIRAS CARRASCO, JOSE"

> A continuación se modificará el patrón de la fecha de posesion:

In [5]:
def dividir_string(columna):
    dato = str(columna)
    if ' ' in dato:
        return dato.split(' ')[0]
    else:
        return dato

    
dfAlcaldes['FECHA POSESION'] = dfAlcaldes['FECHA POSESION'].apply(dividir_string)
dfAlcaldes.head()

,CCAA,PROVINCIA,MUNICIPIO,CODIGO,NOMBRE,LISTA,FECHA POSESION,NOM_NORMALIZADO
0,Andalucía,Almería,ABRUCENA,040025,"MARTINEZ LAO, JUAN",PSOE,1979-04-19,"MARTINEZ LAO, JUAN"
1,Andalucía,Almería,ADRA,040031,"SARMIENTO POSADA, PEDRO",OTROS,1979-04-19,"SARMIENTO POSADA, PEDRO"
2,Andalucía,Almería,ALBANCHEZ,040046,"MARTOS AYBAR, RAMON",UCD,1979-04-19,"MARTOS AYBAR, RAMON"
3,Andalucía,Almería,ALBOLODUY,040059,"BLANES PANIAGUA, MARIANO",UCD,1979-04-19,"BLANES PANIAGUA, MARIANO"
4,Andalucía,Almería,ALBOX,040062,"MIRAS CARRASCO, JOSE",UCD,1979-04-19,"MIRAS CARRASCO, JOSE"

> Para probar que la limpieza de datos de los nombres funciona voy a echar un ojo a los antiguos alcaldes que gobernaron en mi municipio natal:

In [6]:
dfAlcaldes[dfAlcaldes["MUNICIPIO"] == "OUTES"]

,CCAA,PROVINCIA,MUNICIPIO,CODIGO,NOMBRE,LISTA,FECHA POSESION,NOM_NORMALIZADO
7269,Galicia,"Coruña, A",OUTES,150623,"PÉREZ VILLAVERDE, GONZALO",UCD,1979-04-19,"PEREZ VILLAVERDE, GONZALO"
7207,Galicia,"Coruña, A ...",OUTES,150623,"PEREZ VILLAVERDE, GONZALO",AP/PDP/UL,1983-05-23,"PEREZ VILLAVERDE, GONZALO"
6558,GALICIA,A CORUÑA,OUTES,150623,"PEREZ VILLAVERDE, GONZALO",CPG,1987-06-30,"PEREZ VILLAVERDE, GONZALO"
7484,Galicia,"Coruña, A ...",OUTES,15062,"PEREZ VILLAVERDE, GONZALO",PP,1991-06-15,"PEREZ VILLAVERDE, GONZALO"
7420,Galicia,"Coruña, A ...",OUTES,15062,"LOPEZ CRESPO, CARLOS E.",PP,1995-06-17,"LOPEZ CRESPO, CARLOS E."
7500,Galicia,"Coruña, A ...",OUTES,15062,"LOPEZ CRESPO, CARLOS ENRIQUE",PP,1999-07-03,"LOPEZ CRESPO, CARLOS ENRIQUE"
7544,Galicia,"Coruña, A ...",OUTES,15062,CARLOS ENRIQUE LÓPEZ CRESPO,PP,2003-06-14,CARLOS ENRIQUE LOPEZ CRESPO

> A continuación se investigará los alcaldes que repetiron mandato y los pondremos en un dataframe aparte, se creará una columna nueva ('LEGISLATURAS') que muestre las veces que ha gobernado cada alcalde

In [7]:
df_Alcaldes_Repetidos = dfAlcaldes.groupby(['NOM_NORMALIZADO', 'LISTA', 'PROVINCIA', 'MUNICIPIO']).size().reset_index(name='LEGISLATURAS')
df_Alcaldes_Repetidos['LEGISLATURAS'] = df_Alcaldes_Repetidos['LEGISLATURAS'].astype('int64')
df_Alcaldes_Repetidos = df_Alcaldes_Repetidos[df_Alcaldes_Repetidos.LEGISLATURAS > 1]
df_Alcaldes_Repetidos

,NOM_NORMALIZADO,LISTA,PROVINCIA,MUNICIPIO,LEGISLATURAS
53,"ABAD RIOJA, RAFAEL",PSOE,Ciudad Real ...,ALCUBILLAS,2
120,ABDESLAM JESUS AOULAD BEN SALEM LUCENA,OTROS,Málaga,Benamocarra,2
136,ABEL FAMILIAR SANCHEZ,PP,Ávila,Tormellas,3
139,ABEL GONZALEZ RAMIRO,PSOE,Badajoz,Guareña,2
140,ABEL IBANEZ MALLASEN,PSOE,Castelló/Castellón,Vilafamés,2
...,...,...,...,...,...
82605,ZACARIAS MARTINEZ GONZALEZ,PP,León,Valdevimbre,3
82606,ZACARIAS MORENO CHAVES,PP,Ávila,San Juan de Gredos,3
82628,"ZALAYA JAIME, JOSE LUIS",PSOE,Zaragoza ...,GALLUR,2
82719,"ZARAGOZA ALCOVER, VICENTE",PSOE,Sevilla ...,CASTILLEJA DEL CAMPO,3
82799,"ZORRILLA MORENO, RAFAEL",PSOE,Málaga ...,PERIANA,2

In [37]:
dfNumPartidos = df_Alcaldes_Repetidos.groupby('LISTA')
dfNumPartidos.count()['LEGISLATURAS']


#import matplotlib.pyplot as plt
#fig, ax = plt.subplots()
#dfNumPartidos

LISTA
ATI                1
BILDU-EA          17
BLOC               2
BNG               33
C's                1
C. ELECTORAL       1
C.ELECTORAL        2
C.GEST.            3
CC                21
CD                 1
CDS                1
CHA               23
CIU              352
ERC               46
FAC                5
IND               97
IU               133
LISTA              1
N.ADS.             1
OTROS            325
PA                18
PAR              191
PNV               32
PP              3650
PR+                3
PRC               47
PSOE            3202
UCD                4
UPL               17
UPN               20
VOX                3
Name: LEGISLATURAS, dtype: int64