# T3.2 Analizar e visualizar estatísticas de datos baixados de MongoDB
## Conexión a MongoDB dende Python e análise de datos

En Atlas mete o dataset de exemplo na túa base de datos.

Engade o enderezo IP autorizado a conectar para que poidas conectar á base de datos.

Proba a conectar dende compass coa URL de conexión que che da.

Da BBDD de proba: sample_mfix, na colección movies: https://www.mongodb.com/docs/atlas/sample-data/sample-mflix/

Conecta a Atlas dende Python, carga a colección en Pandas. Averigua o modo máis adecuado.

### Instalación das librarías necesarias
- pymongo
- dnspython

In [1]:
!conda install -y pymongo dnspython

Retrieving notices: ...working... done
Channels:
 - defaults
 - conda-forge
Platform: win-64
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\daniel.martinezcarre\AppData\Local\miniconda3\envs\bigdata

  added / updated specs:
    - dnspython
    - pymongo


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    dnspython-2.4.2            |   py38haa95532_0         358 KB
    pymongo-3.12.0             |   py38hd77b12b_0         1.3 MB
    ------------------------------------------------------------
                                           Total:         1.7 MB

The following NEW packages will be INSTALLED:

  dnspython          pkgs/main/win-64::dnspython-2.4.2-py38haa95532_0
  pymongo            pkgs/main/win-64::pymongo-3.12.0-py38hd77b12b_0

The following packages will be SUPERSEDED by a higher-priority channel:

  certifi            conda-forge/noarch::certifi-2024.2.2-~ --> pkgs/main/win-64::certifi-2024.2.2-py38haa95532_0



Downloading and Extracting Packages: ...working... done
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

### Conexión cas bases de datos

In [2]:
from pymongo import MongoClient

HOST=f"mongodb+srv://daniel:<password>@danielm.bmmrbec.mongodb.net/"
PORT=27017
USERNAME="daniel"
PASSWORD="6H8QiZIHLt7qylbr"


if HOST == 'localhost':
    if not USERNAME:
        cli_mongo = MongoClient(HOST, PORT)
    else:
        cli_mongo = MongoClient(HOST, PORT, USERNAME, PASSWORD)
else:
    cli_mongo = MongoClient(f"mongodb+srv://daniel:{PASSWORD}@danielm.bmmrbec.mongodb.net/")

### Importación de librerías

In [3]:
import pandas as pd

### Listado das bases de datos existentes

In [4]:
print (cli_mongo.list_database_names())

['sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'admin', 'local']

### Conexión ca base de datos ca que se traballará

In [5]:
db_movies=cli_mongo['sample_mflix']

# Listado das coleccións da base de datos
print (db_movies.list_collection_names())

['sessions', 'embedded_movies', 'users', 'movies', 'theaters', 'comments']

### Convertir a colección 'movies' en un dataframe de Pandas

In [97]:
coleccion_nombre = db_movies.movies

# Obtención de todos os documentos da colección
cursor = coleccion_nombre.find()
# Conversión do cursor a lista
list_cur = list(cursor)
# Conversión a DataFrame
df_movies = pd.DataFrame(list_cur)

df_movies.head()

,_id,plot,genres,runtime,cast,poster,title,fullplot,languages,released,...,awards,lastupdated,year,imdb,countries,type,tomatoes,num_mflix_comments,writers,metacritic
0,573a1390f29313caabcd42e8,A group of bandits stage a brazen train hold-u...,"[Short, Western]",11.0,"[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",https://m.media-amazon.com/images/M/MV5BMTU3Nj...,The Great Train Robbery,Among the earliest existing films in American ...,[English],1903-12-01,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:27:59.177000000,1903,"{'rating': 7.4, 'votes': 9847, 'id': 439}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 2559,...",0,NaN,NaN
1,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]",14.0,"[Frank Powell, Grace Henderson, James Kirkwood...",NaN,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[English],1909-12-13,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",1,NaN,NaN
2,573a1390f29313caabcd4803,"Cartoon figures announce, via comic strip ball...","[Animation, Short, Comedy]",7.0,[Winsor McCay],https://m.media-amazon.com/images/M/MV5BYzg2Nj...,"Winsor McCay, the Famous Cartoonist of the N.Y...",Cartoonist Winsor McCay agrees to create a lar...,[English],1911-04-08,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 01:09:03.030000000,1911,"{'rating': 7.3, 'votes': 1034, 'id': 1737}",[USA],movie,"{'viewer': {'rating': 3.4, 'numReviews': 89, '...",0,"[Winsor McCay (comic strip ""Little Nemo in Slu...",NaN
3,573a1390f29313caabcd4eaf,"A woman, with the aid of her police officer sw...","[Crime, Drama]",88.0,"[Jane Gail, Ethel Grandin, William H. Turner, ...",https://m.media-amazon.com/images/M/MV5BYzk0YW...,Traffic in Souls,NaN,[English],1913-11-24,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-15 02:07:14.247000000,1913,"{'rating': 6.0, 'votes': 371, 'id': 3471}",[USA],movie,"{'viewer': {'rating': 3.0, 'numReviews': 85, '...",1,NaN,NaN
4,573a1390f29313caabcd50e5,"The cartoonist, Winsor McCay, brings the Dinos...","[Animation, Short, Comedy]",12.0,"[Winsor McCay, George McManus, Roy L. McCardell]",https://m.media-amazon.com/images/M/MV5BMTQxNz...,Gertie the Dinosaur,Winsor Z. McCay bets another cartoonist that h...,[English],1914-09-15,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-18 01:03:15.313000000,1914,"{'rating': 7.3, 'votes': 1837, 'id': 4008}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 29}, ...",0,[Winsor McCay],NaN

In [ ]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21349 entries, 0 to 21348
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 21349 non-null  object
 1   plot                20203 non-null  object
 2   genres              21237 non-null  object
 3   runtime             20910 non-null  float64
 4   cast                20987 non-null  object
 5   poster              18044 non-null  object
 6   title               21349 non-null  object
 7   fullplot            19852 non-null  object
 8   languages           21119 non-null  object
 9   released            20878 non-null  datetime64[ns]
 10  directors           21107 non-null  object
 11  rated               11455 non-null  object
 12  awards              21349 non-null  object
 13  lastupdated         21349 non-null  object
 14  year                21349 non-null  object
 15  imdb                21349 non-null  object
 16  countries           21339 non-null  object
 17  type                21349 non-null  object
 18  tomatoes            18588 non-null  object
 19  num_mflix_comments  21349 non-null  int64
 20  writers             20256 non-null  object
 21  metacritic          6964 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(18)
memory usage: 3.6+ MB

In [9]:
df_movies.columns

Index(['_id', 'plot', 'genres', 'runtime', 'cast', 'poster', 'title',
       'fullplot', 'languages', 'released', 'directors', 'rated', 'awards',
       'lastupdated', 'year', 'imdb', 'countries', 'type', 'tomatoes',
       'num_mflix_comments', 'writers', 'metacritic'],
      dtype='object')

A) Contar o total de películas.

In [ ]:
total_peliculas = df_movies["title"].count()
print(f"Total de películas: {total_peliculas}")

Total de películas: 21349

B) Contar o número de películas de cada xénero.

In [74]:
# Os valores da columna 'genres' son listas
generos_peliculas = {}
# Hai que borrar os Nan para que non de fallo na iteración
generos = df_movies["genres"].dropna().tolist()


for i in generos:
    for genero in i:
        if len(generos_peliculas) == 0:
            generos_peliculas[genero] = 1
        # Si o xénero está dentro do listado
        elif genero in generos_peliculas.keys():
            generos_peliculas[genero] += 1
        else:
            # Si o xénero NON está dentro do listado
            generos_peliculas[genero] = 1

df_gen_num = pd.DataFrame.from_dict(generos_peliculas, orient="index", columns=["num_peliculas"])
df_gen_num

             num_peliculas
Short                  442
Western                242
Drama                12385
Animation              912
Comedy                6532
Crime                 2457
History                874
Action                2381
Biography             1269
Family                1249
Romance               3318
Fantasy               1055
Mystery               1139
War                    699
Adventure             1900
Thriller              2454
Documentary           1834
Musical                440
Music                  780
Film-Noir               77
Sport                  366
Horror                1470
Sci-Fi                 958
Talk-Show                1
News                    44

C) Contar cantas películas hai por ano.

In [117]:
# df_ejem = df_movies["year"].str.replace(r"è.*", "")
# anos = set(df_movies["year"].dropna().str.replace(r"è.*", "").to_list())

anos = set()
for year in df_movies["year"].dropna():
  if isinstance(year, str):
    if year.endswith("è"):
      year = year[:-5]
  anos.add(year)

# Sacamos os anos sin repetir
anos

{'',
 1896,
 1903,
 1909,
 1911,
 1913,
 1914,
 1915,
 1916,
 1917,
 1918,
 1919,
 1920,
 1921,
 1922,
 1923,
 1924,
 1925,
 1926,
 1927,
 1928,
 1929,
 1930,
 1931,
 1932,
 1933,
 1934,
 1935,
 1936,
 1937,
 1938,
 1939,
 1940,
 1941,
 1942,
 1943,
 1944,
 1945,
 1946,
 1947,
 1948,
 1949,
 1950,
 1951,
 1952,
 1953,
 1954,
 1955,
 1956,
 1957,
 1958,
 1959,
 1960,
 1961,
 1962,
 1963,
 1964,
 1965,
 1966,
 1967,
 1968,
 1969,
 1970,
 1971,
 1972,
 1973,
 1974,
 1975,
 1976,
 1977,
 1978,
 1979,
 1980,
 1981,
 1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 '1994è1998',
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 '2006è2007',
 '2006è2012',
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016}

In [118]:
df_movies

,_id,plot,genres,runtime,cast,poster,title,fullplot,languages,released,...,awards,lastupdated,year,imdb,countries,type,tomatoes,num_mflix_comments,writers,metacritic
0,573a1390f29313caabcd42e8,A group of bandits stage a brazen train hold-u...,"[Short, Western]",11.0,"[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",https://m.media-amazon.com/images/M/MV5BMTU3Nj...,The Great Train Robbery,Among the earliest existing films in American ...,[English],1903-12-01,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:27:59.177000000,1903,"{'rating': 7.4, 'votes': 9847, 'id': 439}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 2559,...",0,NaN,NaN
1,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]",14.0,"[Frank Powell, Grace Henderson, James Kirkwood...",NaN,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[English],1909-12-13,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",1,NaN,NaN
2,573a1390f29313caabcd4803,"Cartoon figures announce, via comic strip ball...","[Animation, Short, Comedy]",7.0,[Winsor McCay],https://m.media-amazon.com/images/M/MV5BYzg2Nj...,"Winsor McCay, the Famous Cartoonist of the N.Y...",Cartoonist Winsor McCay agrees to create a lar...,[English],1911-04-08,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 01:09:03.030000000,1911,"{'rating': 7.3, 'votes': 1034, 'id': 1737}",[USA],movie,"{'viewer': {'rating': 3.4, 'numReviews': 89, '...",0,"[Winsor McCay (comic strip ""Little Nemo in Slu...",NaN
3,573a1390f29313caabcd4eaf,"A woman, with the aid of her police officer sw...","[Crime, Drama]",88.0,"[Jane Gail, Ethel Grandin, William H. Turner, ...",https://m.media-amazon.com/images/M/MV5BYzk0YW...,Traffic in Souls,NaN,[English],1913-11-24,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-15 02:07:14.247000000,1913,"{'rating': 6.0, 'votes': 371, 'id': 3471}",[USA],movie,"{'viewer': {'rating': 3.0, 'numReviews': 85, '...",1,NaN,NaN
4,573a1390f29313caabcd50e5,"The cartoonist, Winsor McCay, brings the Dinos...","[Animation, Short, Comedy]",12.0,"[Winsor McCay, George McManus, Roy L. McCardell]",https://m.media-amazon.com/images/M/MV5BMTQxNz...,Gertie the Dinosaur,Winsor Z. McCay bets another cartoonist that h...,[English],1914-09-15,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-18 01:03:15.313000000,1914,"{'rating': 7.3, 'votes': 1837, 'id': 4008}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 29}, ...",0,[Winsor McCay],NaN

D) Mirar se hai correlación entre imdb e rotten tomatoes.

E) Contar cantas películas ten cada director

F) Contar en cantas películas ten participado cada actor

G) Contar cantas películas hai de cada idioma

H) Cal é a media de premios das películas

J) Amosar as películas que teñen alomenos 3 premios

K) Contar as películas por país